<strong class="show-for-medium-up">
  <div class="medium-2 columns tyre-left"  >
    <!-- &nbsp; -->
  </div>
</strong>
<div class="medium-8 columns medium-offset-2" data-equalizer-watch >
  <h1>Offered Rides</h1>
  <%= render current_user.comments_as_receiver %>

</div>
<strong class="show-for-medium-up">
  <div class="medium-2 columns tyre-right"  >
    <!-- &nbsp; -->
  </div>
</strong>