<div class="medium-2 columns tyre-left"  >
  <!-- &nbsp; -->
</div>
<div class="medium-8 columns medium-offset-2" data-equalizer-watch >
<h1>Offered Rides</h1>
<%= render current_user.comments_as_receiver %>

</div>

<div class="medium-2 columns tyre-right"  >
  <!-- &nbsp; -->
</div>