// Place all the styles related to the statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #A7A7A7;
  background-repeat: no-repeat;
  // background-position: center center;
  background-size: 100%;
  height:100%;
  width:100%;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Helvetica Neue';
}

body.homepage {
  background-image: image-url("bwroad.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height:100%;
  width:100%;
  background-attachment: fixed;
  text-align: center;
}

h1,h2,h3 {
  color: white;
  padding-bottom: 40px;
  padding: 30px;
  font-family: 'Belgrano', serif;
}

p, li, a {
  color: white;
  list-style: none;
  font-family: 'Helvetica Neue'
}


a:hover{
  color: #CDC9C9;
  font-size: 110%;
}

label, em{
  color:white;
  font-family: 'Helvetica Neue'
}

fieldset{
  background-color: transparent;
  border:0;
}

hr{
  border: 0;
}
input[type="text"],input[type="text"]:focus,
input[type="email"],input[type="email"]:focus,
input[type="password"], input[type="password"]:focus,
input[type="date"], input[type="date"]:focus,
 textarea, textarea:focus {
  background: rgba(255,255,255,0.6);
  color: white;
  font-family: 'Helvetica Neue';
  border: none;
  border-radius: 2px;
  outline: none;
}




input.btn {
  color:white;
  opacity: 1;
  background: #CDC9C9;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  padding: 10px;
  font-family: 'Helvetica Neue';
}
.actions {
  border-radius: 12px;
  padding: 20px;
}

input.reg {
  color:white;
  opacity: 0.7;
  background: #CDC9C9;
  border: none;
  border-radius: 12px;
  font-size: 20px;
  padding: 10px;
}

h5 {
  font-size: 60px;
  position: fixed;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-left: 2%;
  font-family: 'Belgrano', serif;
}
#journies {
  background-color: rgba(123,123,123,1);
  padding-top:40px;
  padding-bottom: 20px;
  border-radius: 15px;
  margin-bottom: 50px;
}
#journiesuser {
  background-color: rgba(123,123,123,1);
  padding-top:40px;
  padding-bottom: 20px;
  border-radius: 15px;
  text-align: left;
}

#login {
  background-color: rgba(123,123,123,1);
  padding: 40px;
  border-radius: 15px;
  text-align: center;
}

.flash-message {
  color: white;
  font-size: 30px;
}

#footer{
    height: 40px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #545454;
}

img.logo {
  padding-top: 80px;
}

.medium-2.columns.tyre-left {
  position: fixed;
  left: 20px;
  top: 0;
  z-index: -1;
  background-image: image-url("logoleft.png");
  height: 620px;
  background-repeat: repeat-y;
  background-position: 50%, 50%;
  opacity: 0.7;
}

.medium-2.columns.tyre-right {
  position: fixed;
  right: 20px;
  top: 0;
  z-index: -1;
  background-image: image-url("logoright.png");
  height: 620px;
  background-repeat: repeat-y;
  background-position: 50%, 50%;
  opacity: 0.7;
}
span{
    display:inline-block;    
    width:33%;
    text-align:center;
}

// .card-deck {
//   div {
//     display: inline-block;
//     width: 100%;

//     .card-text {
//       width: 60%;
//     }

//     .mugshot {
//       width: 35%;

//       img {
//         height: 100px;
//         width:  100px;
//       }
//     }
//   }
// }